@model  IEnumerable<CarRentalAdatSolutions.Models.Vehicle>
@{
    string convertToBase64(byte[] image)
    {
        var base64 = Convert.ToBase64String(image);
        return String.Format("data:image/gif;base64,{0}", base64);

    }
}

<div class="col-lg-4">
    <div class="sidebar-content-wrap m-t-50">
        <!-- Single Sidebar Start -->
        <div class="single-sidebar">
            <h3>Dealer Information</h3>

            <div class="sidebar-body">
                <p><i class="fa fa-mobile"></i>@ViewBag.DealerInfo.FullName</p>
                <p><i class="fa fa-mobile"></i> +8801816 277 243</p>
                <p><i class="fa fa-envelope"></i> @ViewBag.DealerInfo.Email</p>
                <p><i class="fa fa-user"></i><a href="#"> Vist page</a></p>
            </div>
        </div>
        <!-- Single Sidebar Start -->
        <div class="single-sidebar">
            <h3>Estimate cost</h3>
           
            <div class="sidebar-body">
                 <form action="/Bookings/EstimateCharges/" id="form-estimate" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="BookingDate" class="col-form-label">Pickup date<sup style="color:red">*</sup></label>
                        <input id="from" autocomplete="off" name="fromdate" placeholder="mm/dd/yyyy">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="returnDate" class="col-form-label">Return date<sup style="color:red">*</sup></label>
                        <input id="to" autocomplete="off" name="todate" placeholder="mm/dd/yyyy">
                    </div>
                    </div>
                     <input type="hidden" name="vid" value="@ViewBag.VehicleId"/>
                <div class="log-btn">
                 <button class="btn" type="submit" style="background-color:#ffd000">Estimate</button>
                    </div>
                     </form>
                <div id="result-area">
                    
                </div>
                </div>
        </div>
        <!-- Single Sidebar End -->
        <!-- Single Sidebar Start -->
        <div class="single-sidebar">
            <h3>Vehicles</h3>

            <div class="sidebar-body">
                <ul class="recent-tips">
                    @{
                        foreach (var v in Model)
                        {
                                        <li class="single-recent-tips">
                                            @{ 
                                                
                                                var imgSrc = "";
                                                if (v.Images.Count > 0)
                                                {

                                                    var base64 = Convert.ToBase64String(v.Images.First().ImagePath);
                                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                }
                                                else
                                                {
                                                    imgSrc = v.ImageUrl;
    }
                                            }
                                            <div class="recent-tip-thum" style="background-image:url(@imgSrc)">
                                                
                                               </div>
                                            <div class="recent-tip-body">
                                                <a href="/Vehicles/Details/@v.Id">@v.make @v.model </a>

                                                @v.Description.Substring(0, Math.Min(v.Description.Length, 50))

                                            </div>
                                        </li>

                        }
                    }

                </ul>
            </div>
        </div>
        <!-- Single Sidebar End -->
        <!-- Single Sidebar End -->
    </div>
</div>
