@model CarRentalAdatSolutions.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section css{
    <link href="~/Content/plugins/gijgo.css" rel="stylesheet" />
    <link href="~/Content/plugins/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/vegas.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Create an account</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Leave your driving needs to us!</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Sign Up</h3>
                        <p>Register now and start booking the vehicle of your choice</p>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="name">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full name" })
                                    </div>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Your Email" })
                                    </div>
                                </div>
                            </div>

                            <div class="password">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                            </div>
                            <div class="password">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm-password" })
                            </div>
                            <div class="form-check" style="">
                                @Html.CheckBoxFor(m => m.IsDealer, new { @Class = "form-check-input" })
                                <label for="IsDealer">Sign up as a dealer?</label>
                            </div>


                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
                            </div>

                        }
                    </div>
                    <div class="create-ac">
                        <p>Have an account? <a href="/Account/Login">Sign In</a></p>
                    </div>
                </div>
                            </div>
                        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
